* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

/* formatting */

.hero {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.large-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.small-text,
.links,
.top-button {
  font-size: 18px;
  color: #e5e7eb;
}

.margin {
  margin: 5px 400px 5px 400px;
}

.hero,
.header,
.links,
.content,
.left {
  display: flex;
}

.links {
  gap: 40px;
  list-style: none;
}

.header,
.content {
  justify-content: space-between;
  margin: 30px 0px;
}

.hero,
.left {
  flex-direction: column;
}

.left {
  flex-wrap: wrap;
  margin: 0px 80px 0px 0px;
  justify-content: space-between;
}

.content {
  gap: 50px;
  margin: 80px 0px;
}

.placeholder {
  height: 250px;
  width: 1200px;
  background-color: rgb(109, 117, 124);
  text-align: center;
  align-content: center;
  color: white;
}

.top-button {
  background-color: #3882f6;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  border: none;
}
