* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

/* start hero */

.hero {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.large-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.small-text,
.links,
.top-button {
  font-size: 18px;
  color: #e5e7eb;
}

.margin {
  margin: 0px 500px 0px 500px;
}

.hero,
.header,
.links,
.content,
.left {
  display: flex;
}

.links {
  gap: 20px;
  list-style: none;
}

.header,
.content {
  justify-content: space-between;
  margin: 30px 0px;
}

.hero,
.left {
  flex-direction: column;
}

.left {
  flex-wrap: wrap;
  margin: 0px 80px 0px 0px;
  justify-content: space-between;
}

.content {
  margin: 80px 0px;
}

.placeholder {
  height: 250px;
  width: 1200px;
  background-color: rgb(109, 117, 124);
  text-align: center;
  align-content: center;
  color: white;
}

.top-button {
  background-color: #3882f6;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  border: none;
  font-weight: 600;
}

/* end hero */

/* start main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 450px;
}

.row {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
}

.text-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img {
  height: 160px;
  width: 160px;
  border: solid #3882f6;
  border-radius: 10px;
}

.information {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.text-info {
  text-align: center;
  max-width: 150px;
  font-weight: 300;
}

/* end main */

/* start quote */

.quote {
  justify-content: center;
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  margin: 0px 500px;
}

.author {
  align-self: flex-end;
  margin: 20px 500px;
  font-size: 25px;
  font-weight: 600;
  color: #1f2937;
}

/* end quote */
/* start cta */

.cta-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px 500px;
  background-color: #3882f6;
  border-radius: 7px;
  height: 140px;
}

.cta-large {
  font-size: 20px;
  font-weight: 700;
  color: #e5e7eb;
}

.cta-small {
  color: #e5e7eb;
}

.cta-button {
  border: solid #e5e7eb 2px;
  background-color: #3882f6;
  width: 120px;
  height: 35px;
  color: #e5e7eb;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
}

/* end cta */
/* start footer */

.footer {
  background-color:#1f2937;
  height: 120px;
  text-align: center;
  align-content: center;
  color:#e5e7eb;
}


